{% extends 'base.html.twig' %}

{% block title %}New Platoon{% endblock %}

{% block body %}
    <h1>Create new Platoon</h1>

    {{ include('platoon/_form.html.twig') }}

    <a href="{{ path('app_tournament_show', {'id': tournament.id}) }}">back to list</a>
{% endblock %}