{% extends 'base.html.twig' %}

{% block title %}New Tournament{% endblock %}

{% block body %}
    <h1>Create new Tournament</h1>

    {{ include('tournament/_form.html.twig') }}

    <a href="{{ path('app_tournament') }}">back to list</a>
{% endblock %}