{% extends 'base.html.twig' %}

{% block title %}New Peloton{% endblock %}

{% block body %}
    <h1>Create new Peloton</h1>

    {{ include('peloton/_form.html.twig') }}

    <a href="{{ path('app_tournament_show', {'id': tournament.id}) }}">back to list</a>
{% endblock %}